.game {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.header > .value {
    width: 125px;
}

.header {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  flex: 0 0 50px;
  z-index: 3;
  background-color: white;
  border-bottom: 2px solid brown;
}

.header-button {
  font-size: 16px;
}

.turn, .has-winner {
  font-weight: 500;
  font-size: 40px;
}

.has-winner {
  margin-left: 300px;
}

.board {
  width: 100%;
  flex: 1 0 calc(100% - 50vh);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cells-row {
  width: 100%;
  display: flex;
  height: 50px;
}

.cells-row:first-child .cell {
  border-top: none;
}
